:root {
    --base-3: #282828;
    --base-grey: #383838;
    --white: #ffffff;
    --ui-1: #1077fe;
    --ui-6: #1e1e1e;
    --opacity-7: rgba(255, 255, 255, 0.1);
    --opacity-8: rgba(255, 255, 255, 0.05);
    --whitedisabled: rgba(255, 255, 255, 0.2);
    --border-color: rgba(255, 255, 255, 0.3);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    background: none;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    color: var(--white);
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--base-3);
}

menu, ol, ul {
    list-style: none;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.content01, .content02 {
    padding: 0px 10px 0px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.access-bar {
    height: 50px;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 20px;
    background: var(--base-grey);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.access-bar-leftside {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-menu-container {
    display: flex;
    align-items: center;
}

.section-menu {
    cursor: pointer;
    padding: 15px;
    transition: background-color 0.3s;
}

.section-menu:hover, .section-menu.active {
    background-color: var(--opacity-7);
}

.section-menu.active {
    font-weight: bold;
}

.form-container {
    background: var(--base-grey);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    width: 100%;
}

.login-input-field, .text-field {
    background: var(--ui-6);
    border-radius: 2px;
    border: 2px solid var(--border-color);
    padding: 12px;
    height: 40px;
    min-width: 400px;
}

.text-field {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 400px;
}


.text-field .placeholder {
    color: var(--whitedisabled);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    flex-grow: 1;
    min-width: 400px;
}

.button-container {
    display: flex;
    gap: 12px;
}

.button, .button2, .start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px 16px;
    border-radius: 3px;
    height: 40px;
    min-width: 100px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    cursor: pointer;
}

.button {
    background: var(--opacity-7);
    border: 1px solid var(--opacity-8);
    color: var(--whitedisabled);
}

.button2, .start-button {
    background: var(--ui-1);
    color: var(--white);
    width: 100%;
}

.button:hover, .button2:hover, .start-button:hover {
    transform: translateY(-2px);
    
}
.start-button:hover {
    background-color: white;
    color: #1077fe;
    font-weight: bold;
}

.button:active, .button2:active, .start-button:active {
    transform: translateY(1px);
}

.h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
}

.instructions {
    color: var(--whitedisabled);
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}

.text-disable {
    color: var(--whitedisabled);
}

.window-controls {
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .access-bar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .button-container {
        flex-direction: column;
        width: 100%;
    }
    .button, .button2 {
        width: 100%;
    }
    .text-field {
        max-width: 100%;
    }
}
